# Environment & Secrets
.env
FIREBASE_CREDENTIALS_PATH

# Python Junk
__pycache__/
*.pyc
.venv/

# Binaries & Data
*.exe
incident_sorter
live_queue.json
users.json
protected_uploads/*
!protected_uploads/.gitkeep
static/uploads/*
!static/uploads/.gitkeep

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
node_modules/
